*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}
.selection-container {
  display: grid;
  width: 70%;
  height: 20%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
h3, h2 {
    margin: 8px;
    text-align: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
select {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border: none;
  color: white;
  background-color: rgb(69, 117, 152);
  border-radius: 30px;
  filter: drop-shadow(0px 5px 7px rgb(69, 117, 152));
}
button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-weight: 700;
  color: white;
  background-color: rgb(69, 117, 152);
  border-radius: 30px;
  border: none;
  filter: drop-shadow(0px 5px 7px rgb(69, 117, 152));
}
.result-container {
    display: grid;
    margin: 2rem;
    height: 410px;
    gap: 15px;
    padding: 15px;
    border: solid black;
    grid-template-columns: repeat(3, 1fr);
    max-height: 600px;
    background-color: rgb(221, 241, 255);
    overflow-y: scroll;
    justify-content: space-evenly;

  @media (max-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 375px) {
    grid-template-columns: repeat(1, 1fr);
  }
  

 
}
.card {
    display: grid;
    width: 250px;
    height: 185px;
    padding: 5px;
    border: solid gray; 
    overflow: auto;  
    justify-self: center;
    
    @media ( max-width: 426px){
    width: 95%;
    }
    @media ( max-width: 375px){
    width: 80%;
    
    }
}
p{
    line-height: 20px;
    margin: 0;
}